* {
	margin: 0;
	/*outline: 1px solid black;*/
}

@font-face {
	font-family: 'bebas-neue-book';
	src: url('fonts/bebas-neue-book.ttf');
}

@font-face {
	font-family: 'bebas-neue-bold';
	src: url(fonts/bebas-neue-bold.ttf);
}

.wrapper {
	width: 100vw;
	height: 100vh;
	background-color: #27292d;
	text-align: center;
	letter-spacing: 0.5vw;
}

.header {
	height: 40vh;
	line-height: 15vh;
}

.wow {
	font-family: bebas-neue-bold;
	color: #ffffff;
	font-size: 7vh;
}

.text {
	font-family: bebas-neue-book;
	color: #666666;
	font-size: 4vh;
}

.main {
	height: 25vh;
	font-family: bebas-neue-bold;
	color: #ffffff;
	font-size: 35vh;
	line-height: 24vh;
	letter-spacing: 5.5vw;
	position: relative;
	z-index: 1;
}

.footer {
	height: 35vh;
	font-family: bebas-neue-book;
	color: #666666;
	font-size: 3vh;
	line-height: 45vh;
}

.footer a {
	font-family: bebas-neue-bold;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	z-index: 1;
}

@media screen and (max-width: 820px)  {

	.wrapper {
		letter-spacing: 0.3vw;
	}

	.main {
		letter-spacing: 3.5vw;
	}
}

@media screen and (max-width: 720px)  {

	.wrapper {
		letter-spacing: 0.2vw;
	}
	
	.text {
		line-height: 8vh;
	}

	.main {
		letter-spacing: 3.5vw;
	}
}